In [3]:
import pandas as pd
import os
import pandas as pd
from datetime import datetime

In [33]:
df = pd.read_excel("../raw-data/messy_customers_data.xlsx")
df.head()

,name,gender,country,department,designation,email,signup_date,address
0,Curtis White,Other,usa,Sales,Sales Executive,kathleenking@schmidt-graves.com,2024-02-29,"6327 Melissa Junction, Lake Allisonland, MD 53273"
1,Justin Coleman,Female,india,HR,HR Coordinator,murrayrachel@hotmail.com,2023-12-08,"Unit 5232 Box 7928, DPO AP 23572"
2,Alexander Wells,Female,usa,HR,Recruiter,zunigacrystal@gmail.com,2022-08-20,"2863 Danielle Mills Suite 862, Shellyfort, DC ..."
3,Linda Burgess,Female,uk,Finance,Financial Analyst,davisdouglas@gmail.com,2021-07-05,"573 Wilson View, Jacobland, LA 01962"
4,Amber Robinson,Other,uk,Sales,Sales Executive,lynn66@yahoo.com,2023-02-26,"56734 Denise Inlet, Port Haileymouth, WV 93764"

In [34]:
df.dtypes

name                   object
gender                 object
country                object
department             object
designation            object
email                  object
signup_date    datetime64[ns]
address                object
dtype: object

In [18]:
def clean_data(df):
    df = df.dropna().drop_duplicates()
    df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce').dt.strftime('%Y-%m-%d')
    
    string_cols = ['name', 'gender', 'email', 'address', 'country', 'department', 'designation']
    for col in string_cols:
        df[col] = df[col].astype(str).str.strip().str.lower()
        
    df['country'] = df['country'].replace({
        'united states': 'usa', 'us': 'usa', 'usa': 'usa',
        'united kingdom': 'uk', 'england': 'uk', 'uk': 'uk',
        'india': 'india'
    })
    
    return df.head()

# def save_by_country(df, output_dir='final_data'):
#     os.makedirs(output_dir, exist_ok=True)
#     for country in ['usa', 'uk', 'india']:
#         country_df = df[df['country'] == country]
#         output_path = os.path.join(output_dir, f'country_{country}.csv')
#         country_df.to_csv(output_path, index=False)
#         print(f"Saved: {output_path}")

In [19]:
clean_data(df)

,name,gender,country,department,designation,email,signup_date,address
0,curtis white,other,usa,sales,sales executive,kathleenking@schmidt-graves.com,2024-02-29,"6327 melissa junction, lake allisonland, md 53273"
1,justin coleman,female,india,hr,hr coordinator,murrayrachel@hotmail.com,2023-12-08,"unit 5232 box 7928, dpo ap 23572"
2,alexander wells,female,usa,hr,recruiter,zunigacrystal@gmail.com,2022-08-20,"2863 danielle mills suite 862, shellyfort, dc ..."
3,linda burgess,female,uk,finance,financial analyst,davisdouglas@gmail.com,2021-07-05,"573 wilson view, jacobland, la 01962"
4,amber robinson,other,uk,sales,sales executive,lynn66@yahoo.com,2023-02-26,"56734 denise inlet, port haileymouth, wv 93764"

In [9]:
df.count()

name           11000
gender         11000
country        11000
department     11000
designation    11000
email          10909
signup_date    11000
address        11000
dtype: int64

In [22]:
df.dropna()
df.isnull().sum()

name            0
gender          0
country         0
department      0
designation     0
email          91
signup_date     0
address         0
dtype: int64

In [37]:
df1 = pd.read_csv("../final_data/country_india.csv")
df1.head()

,name,gender,country,department,designation,email,signup_date,address
0,justin coleman,female,india,hr,hr coordinator,murrayrachel@hotmail.com,2023-12-08,"unit 5232 box 7928, dpo ap 23572"
1,karen jackson,male,india,hr,hr manager,wendymills@rivera.com,2022-11-09,"840 gutierrez expressway, new samantha, az 06760"
2,david campos,male,india,sales,sales analyst,xbrown@hall-lopez.info,2021-06-17,"83825 julia crescent apt. 228, north katherine..."
3,lee schmitt,female,india,hr,recruiter,kerri56@parker.com,2021-03-31,"61397 nancy estates, port scott, md 77741"
4,dakota owen,male,india,sales,sales analyst,projas@randall.com,2024-05-21,"38366 john islands, tylerville, sc 04380"

In [38]:
df1.dtypes

name           object
gender         object
country        object
department     object
designation    object
email          object
signup_date    object
address        object
dtype: object

In [43]:
whitespace_mask = df.select_dtypes(include=['object', 'string']).apply(
    lambda col: col.astype(str) != col.astype(str).str.strip()
)

# Show where whitespace exists
print(whitespace_mask.any())

name            True
gender         False
country        False
department     False
designation    False
email          False
address        False
dtype: bool

In [44]:
for col in whitespace_mask.columns:
    if whitespace_mask[col].any():
        print(f"\nWhitespace found in column: {col}")
        print(df.loc[whitespace_mask[col], col])

Whitespace found in column: name
7             TONYA BUTLER
10             LEE SCHMITT
25            ANDREA KELLY
44              DAVID YORK
80           RACHEL BECKER
                ...
10960         ANTHONY WARD
10973        RONALD JORDAN
10976           IAN MURPHY
10977        JOSEPH TURNER
10998     JONATHON RAMIREZ
Name: name, Length: 1109, dtype: object

In [46]:
has_upper = df1['country'].str.contains(r'[A-Z]')
print(has_upper)

0       False
1       False
2       False
3       False
4       False
        ...
3388    False
3389    False
3390    False
3391    False
3392    False
Name: country, Length: 3393, dtype: bool